name: Lowca Test

on:
  workflow_dispatch:  # pozwala uruchomić ręcznie
  schedule:
    - cron: "*/5 * * * *"  # co 5 minut

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: pip install python-telegram-bot
      - run: python bot.py
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
